<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqiang.springboottest.mapper.UserMapper">
    <resultMap id="userResult" type="com.liqiang.springboottest.domain.UserDO">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="pwd" column="password"/>
    </resultMap>

    <select id="getUser" resultMap="userResult" parameterType="Integer">
        select * from USER
        where id=#{id}
    </select>

    <select id="listUser" resultMap="userResult">
        select * from USER
        where id IN
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            id
        </foreach>
    </select>

    <insert id="insertUser" parameterType="userDO">
        insert into USER
        (user_name,password)
        values(#{userName},#{pwd});
    </insert>

    <update id="updateUser" parameterType="userDO">
        update USER
        set
        password=#{pwd}
        WHERE
        user_name=#{userName}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        delete from USER
        where id=#{id}
    </delete>






</mapper>